#link2:hover {
  background-color: rgb(244, 167, 28);
}
.weather {
  background-image: url(../resources/pictures/weather.jpg);
  background-size: contain;
}

.ipsum {
  background-color: darkviolet;

}

.ipsum a {
  color: aliceblue;
  font-size: larger;
}